<section id="experience" class="exp-section">
    <h1 class="experience" id="exp">Experience</h1>
  
    <div class="container">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2 class="java">(March 2024 – Present)</h2>
              <p class="java">
                MBZUAI, Abu Dhabi, UAE “Remote” (March 2024 – Present)
                Focused on multilingual LLMs, efficient training, language modeling, and responsible AI. Achieved
                state-of-the-art results highlighting LLMs’ social bias, developed cost-effective jailbreak methods,
                and published a leading Arabic-centric dataset.
              </p>
            </div>
          </div>
          <div class="face face2">
            <h2>Reasearch assistant (NLP) <br> MBZUAI </h2>
            
            
          </div>
        </div>
  
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2 class="python">(April 2022 – September 2023)</h2>
              <p class="python">
                Saarland University, Germany (April 2022 – September 2023)
                Worked on multilingual machine translation, discourse classification, LLMs, and data augmentation
                under Prof. Vera Demberg. Achieved state-of-the-art results in low-resource translation, with
                papers at leading conferences.
              </p>
            </div>
          </div>
          <div class="face face2">
            <h2>Reasearch assistant<br>(NLP)<br>Saarland University</h2>
          </div>
        </div>
  
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2 class="cSharp">December 2020 – April 2022</h2>
              <p class="cSharp">
                - Enigma AI, Sudan (December 2020 – April 2022)
                Developed chatbots and ML tools to enhance a B2B platform with Sudanese dialect fine-tuned
                LLMs, optimizing customer engagement for telecoms, banks, and businesses.
              </p>
            </div>
          </div>
          <div class="face face2">
            <h2>ML Engineer <br>MTN Sudan </h2>
          </div>
        </div>
        
  
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <h2 class="cSharp">(January 2020 – December 2020)</h2>
              <p class="cSharp">
                MTN Sudan, Sudan (Jan 2020 – Dec 2020)
                Worked as a Machine Learning Intern building and evaluating models and tooling in support of telecom use-cases.
              </p>
            </div>
          </div>
          <div class="face face2">
            <h2>ML Intern <br> MTN Sudan</h2>
          </div>
        </div>
        
        
  
  
        
      </div>
  </section>
  